<div class="col mt-3">
  <h4 class="page-header">Kategori</h4>
</div>

<ul class="list-group mt-3">
  <ng-container *ngIf="categoryList && categoryList.length > 0">
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="products"
      [routerLinkActiveOptions]="{ exact: true }"
      style="cursor: pointer"
    >
      Hepsi
    </li>
  </ng-container>

  <ng-container *ngFor="let category of categoryList">
    <li
      class="list-group-item"
      routerLinkActive="active"
      routerLink="products/{{ category.categoryId }}"
    >
      {{ category.categoryName }}
    </li>
  </ng-container>
  <!-- <li class="list-group-item active" aria-current="true">An active item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li> -->
</ul>
